:root {
  --sidebar-width: 260px;
  --bg-sidebar: #202123;
  --bg-btn: #343541;
  --bg-btn-hover: #626370;
  --text-color: #ececf1;
  --bg-body: #f8f2de;
  --fourth: #781c1c;
  --third: #951a1a;
}
/* --bg: #F8F2DE;
    --scnd: #ECDCBF;
    --third: #A31D1D;
    --fourth: #781c1c; */

body, .fontkontak{
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 350;
  font-style: normal;
  background-color: #ffffff;
  width: 100%;
}
h1 {
  font-size: 2.3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
p {
  font-size: 1.2rem;
}
.header {
  padding-left: 3rem;
  margin-top: 1rem;
  width: 90%;
}
.sub-judul {
  font-size: 1.4rem;
}

.judul {
  color: #dc0606;
  text-decoration: none;
}

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #1f2025;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 1100;
}

.brand {
  margin-left: 16px;
  font-weight: bold;
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 20px;
  padding: 0;
}

.hamburger span {
  display: block;
  height: 2px;
  background: var(--text-color);
  border-radius: 2px;
  transition: transform 0.3s, opacity 0.3s;
}

.hamburger.active span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.nav-title {
  flex: 1;
  text-align: center;
  font-size: 1.6rem;
  color: #ff1212;
}
.nav-title span {
  color: #fffbd5;
}

.nav-avatar {
  width: 42px;
  height: 42px;
  object-fit: cover;
  margin-left: auto;
  flex-shrink: 0;
  padding-right: 1.5rem;
}

.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: var(--sidebar-width);
  height: calc(100% - 60px);
  background: var(--bg-sidebar);
  color: var(--text-color);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.sidebar.open {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.close-btn {
  background: none;
  color: var(--text-color);
  font-size: 40px;
  border: none;
  align-self: flex-end;
  margin: 8px;
  cursor: pointer;
}

main {
  transition: margin-left 0.3s ease;
  -webkit-transition: margin-left 0.3s ease;
  -moz-transition: margin-left 0.3s ease;
  -ms-transition: margin-left 0.3s ease;
  -o-transition: margin-left 0.3s ease;
}

main.shifted {
  margin-left: var(--sidebar-width);
}

.chat-list {
  list-style: none;
  margin: 0;
  padding: 0 16px;
  flex-grow: 1;
  overflow-y: auto;
}

a {
  text-decoration: none;
}
.chat-item a {
  display: block;
  padding: 12px;
  color: var(--text-color, #ececf1);
  font-size: 1.2rem;
}

.chat-item {
  position: relative;
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 4px;
  cursor: pointer;
  color: var(--text-color, #ececf1);
  font-size: 10px;
}

.main-sb::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0.7rem;
  height: 2px;
  width: 100%;
  background-color: #cc2020;
  transform: scaleX(.7);
  transform-origin: left;
  transition: transform 0.3s ease;
  -webkit-transform: scaleX(.7);
  -moz-transform: scaleX(.7);
  -ms-transform: scaleX(.7);
  -o-transform: scaleX(.7);
}

.drop-sb {
  background-color: #462424;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.chat-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0.7rem;
  height: 2px;
  width: 100%;
  background-color: #cc2020;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
}

/* Hover state */
.chat-item:hover::after {
  transform: scaleX(0.5);
  -webkit-transform: scaleX(0.5);
  -moz-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  -o-transform: scaleX(0.5);
}

.has-dropdown .dropdown {
  display: none;
  position: relative;
  list-style: none;
  padding-left: 16px;
}
.has-dropdown.open .dropdown {
  display: block;
}

.dropdown li a {
  padding: 12px 12px;
  font-size: 1.1rem;
}

.dropdown li a {
  border-bottom: 1px solid darkred;
}

/* bacground image  */
.background-carousel {
  position: relative;
  width: 100%;
  height: 62rem;
  overflow: hidden;
  margin-top: -13rem;
}

.slides-container {
  display: flex;
  transition: transform 0.5s ease;
  height: 100%;
}

.slide {
  min-width: 100%;
  object-fit: cover;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  display: none;
  transform: translateY(-50%);
  background: rgba(33, 33, 33, 0.5);
  color: #fff;
  border: none;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 10;
}

.carousel-btn.prev {
  left: 1rem;
}

.carousel-btn.next {
  right: 1rem;
}

.carousel-overlay {
  position: absolute;
  margin-top: 5rem;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  text-shadow: 0 0 10px rgb(154, 0, 0);
}

.carousel-overlay h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.carousel-overlay img{
  width: 9rem;
  height: auto;
  filter: drop-shadow(0 1px 5px rgb(255, 255, 255));
  -webkit-filter: drop-shadow(0 1px 5px rgb(255, 255, 255));
}
.carousel-overlay h2 {
  font-size: 2rem;
  margin-bottom: -2rem;
}

.carousel-overlay p {
  font-size: 1.2rem;
}
/* bacground image end */

/* text berjalan  */
.marquee-wrapper {
  display: flex;
}
.marquee-side {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 0 1rem;
  background-color: #c90101;
  color: white;
}
.marquee-side i {
  font-size: 1.2rem;
  margin-right: .5rem;
}
.marquee-w {
  position: relative;
  display: block;
  width: 100%;
  height: 3rem;
  margin: auto;
  overflow: hidden;
}
.marquee {
  position: absolute;
  display: block;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  background-color: rgb(255, 255, 255);
  height: 100%;
}
.marquee span {
  display: inline-block;
  padding-left: 100%;
  text-align: center;
  white-space: nowrap;
  min-height: 100%;
  height: 100%;
  line-height:3rem;
  font-size: 1.5rem;
  animation: marquee 10s linear infinite ;
  -webkit-animation: marquee 15s linear infinite ;
}
@keyframes marquee{
  0%{
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
} 100% {
  transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
}
}
/* text berjalan  */

/* home information section */
.home-info {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  padding-top: 4rem;
}
.button-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}
.button-info {
  background-color: white;
  width: 16rem;
  height: 6rem;
  border: 1px solid rgb(225, 221, 221);
  box-shadow: 0 5px 10px 0.6px rgb(209, 209, 209);
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.button-info p {
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: -0.4rem;
  color: #6d271a;
}
.button-info i {
  font-size: 4rem;
  color: #d41f1f;
}

.home-argument p {
  margin-top: -1rem;
}
.home-argument {
  margin-top: -3.8rem;
}
/* home information section end */

/* sambutan  */
.sambutan {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  margin: -8rem 0 0;
}
.sambutan .sambutan-foto img {
  width: 23rem;
  height: 23rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.sambutan .sambutan-isi {
  width: 50rem;
}
.sambutan .sambutan-isi .isi {
  height: 14rem;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #b4b4b4 #ffffff;
  margin-top: 1rem;
}
.sambutan-isi h1 {
  color: #cc2020;
  margin-bottom: 3.2rem;
  line-height: 4rem;
}
.si:nth-child(n + 1) {
  margin-top: -1.5rem;
}

/* sambutan end */
.map-wrapper p {
  margin-bottom: 3rem;
  box-sizing: border-box;
}
.header-map {
  width: 75%;
}
.map-wrapper {
  margin-top: -11.5rem;
  padding-top: 7rem;
}

.map iframe {
  width: 93%;
  height: 40rem;
}
.map {
  display: flex;
  justify-content: center;
}
/* map end  */

/* sotk  */
.sotk-wrapper {
  margin-top: 3rem;
  background-color: white;
}
.cards-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 10px;
  scrollbar-color: #e1e1e1 #f7f7f7;
  margin-left: 1.8rem;
  width: 97%;
}

.cards-container .card {
  flex: 0 0 auto;
  width: 22rem;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  background: #f7f7f7;
  text-align: center;
}

.card-img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
  box-shadow: 0 0px 5px 1px #bcbcbc;
}

.card-content {
  flex-grow: 1;
  padding: 16px;
  background-color: var(--third);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 0 20px 20px;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  -ms-border-radius: 0 0 20px 20px;
  -o-border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 5px 2px #bcbcbc;
}

.name {
  font-size: 1.3rem;
  color: white;
  margin: 0 0 8px;
}
.role {
  font-size: 0.95rem;
  color: white;
  margin: 0;
}

.btn-struktur {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  align-items: center;
}
.btn-struktur i {
  color: #eb3939;
  font-size: 2rem;
  margin-right: 0.5rem;
}

.lebih-lanjut button {
  cursor: pointer;
  color: #eb3939;
  font-size: 1.2rem;
  text-align: center;
  background-color: transparent;
  padding: 0.8rem 0.5rem;
  border: none;
}
.lebih-lanjut {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}
/* sotk end */

/* administrasi  */
.administrasi-penduduk {
  width: 100%;
  background-color: #f5f5f5;
  margin-top: -2rem;
}
.adm-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 5rem;
}
.adm-card {
  width: 17rem;
  height: auto;
  background-color: #ffffff;
  margin: 0 1rem 5rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: 1px solid rgb(225, 221, 221);
  box-shadow: 0 5px 10px 0.6px rgb(209, 209, 209);
}
.adm-card i {
  font-size: 4.2rem;
  position: relative;
  top: -2rem;
  color: #d41f1f;
}
.adm-card h4,
.adm-card p {
  margin-top: -1.9rem;
}
.adm-card h4 {
  font-size: 2.3rem;
}
.administrasi-penduduk .btn-struktur {
  margin-left: auto;
  margin-top: -2rem;
  padding-right: 1rem;
}
/* administrasi end */

/* APB Negeri  */
.apb-wrapper {
  margin: 1rem 0 8rem;
}

.apb-section {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.apb-section p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.apb-img img {
  width: 37rem;
  height: 37rem;
}

.deskripsi,
.dua {
  width: 40rem;
  background-color: #ffffff;
  margin-bottom: 2rem;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  height: 7rem;
  box-shadow: 0 2px 4px 1px #c3c3c3;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}
.deskripsi::before {
  content: "Pendapatan Negeri";
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
  bottom: 1rem;
}
.deskripsi::after {
  font-weight: bold;
  content: "Rp.000.000.00";
  position: relative;
  top: 3rem;
  left: 7rem;
  font-size: 2.9rem;
  color: #4c4c4c;
}
.dua::before {
  content: "Pengeluaran Negeri";
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
  bottom: 1rem;
}
.dua::after {
  font-weight: bold;
  content: "Rp.000.000.00";
  position: relative;
  top: 3rem;
  left: 7rem;
  font-size: 2.9rem;
}

/* apb versi mobile  */
.card-apb {
  width: 40rem;
  background: #f8fafb;
  border: 1px solid #e0e6ed;
  border-radius: 8px;
  padding: 1rem 2rem;
  font-family: sans-serif;
  color: #333;
  text-align: center;
  margin: 0 auto;
  display: none;
}

.section-apb {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

/* Baris "Pembiayaan" dengan struktur kolom vertikal */
.section-apb.pembiayaan {
  flex-direction: column;
  align-items: center;
}

.section-apb.pembiayaan .sub-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
}

.label {
  font-size: 14px;
  color: #666;
}

.label.title {
  color: rgb(185, 162, 34);
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 15px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item .value {
  font-size: 18px;
  font-weight: bold;
}

.pendapatan .value,
.penerimaan .value {
  color: green;
}

.belanja .value,
.pengeluaran .value {
  color: red;
}

/* Baris footer dengan garis pemisah dan layout horizontal */
.footer-apb {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}
/* APB Negeri end */

/* berita negeri  */
.berita-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.berita-wrapper .btn-struktur {
  margin-left: auto;
  padding-right: 5rem;
}

.card-berita {
  width: 370px;
  height: 420px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px;
}

.card-berita img {
  width: 100%;
  height: auto;
  display: block;
}

.card-berita {
  padding: 16px;
}

.card-berita-title {
  font-size: 1.25rem;
  margin: 5px 0 8px;
  color: #e31a1a;
}

.card-berita-meta {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 12px;
}
.card-berita-meta i:nth-child(2) {
  margin-left: 15px;
}

.card-berita-text {
  font-size: 1rem;
  color: #555;
  margin: 0 0 12px;
}

.card-berita-link {
  text-decoration: underline;
  color: #c61515;
  font-size: 0.9rem;
}

.card-berita-link:hover {
  text-decoration: underline;
}

/* berita negeri end  */

/* galeri negeri */
.galeri-negeri {
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto 5rem ;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
  object-fit: cover;
}

/* galeri negeri end  */






/* Profil negeri section  */
.body2 {
  background-color: #f1f1f1;
}

.carousel-2 {
  display: none;
}

.element-wrapper {
  display: flex;
  margin: 7rem 1rem;
  justify-content: space-evenly;
  gap:3rem;
}

.sejarah-wrapper {
    flex: 2.7;
  background-color: white;
  border-radius: .8rem;
  padding: 1rem;
  -webkit-border-radius: .8rem;
  -moz-border-radius: .8rem;
  -ms-border-radius: .8rem;
  -o-border-radius: .8rem;
}
.sejarah-wrapper .sejarah-img {
  width: 100%;
}
.sejarah-wrapper .sejarah-img {
  width: 100%;
}

.sejarah-wrapper img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.side-section{
  border-radius: .8rem;
  flex: 2;
  background-color: #fff;
  -webkit-border-radius: .8rem;
  -moz-border-radius: .8rem;
  -ms-border-radius: .8rem;
  -o-border-radius: .8rem;
}

.side-section .sicon{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 1rem;
  text-decoration: none;
}

.sicone {
  padding: .1rem;
}

.sicon .sicone img {
  width: 3rem;
  position: relative;
  top: -18px;
  margin-bottom: -2rem;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

a .sicone:hover img{
  width: 3.5rem;
  top: -21px;
}

.sicone {
  text-align: center;
  background-color: white;
  box-shadow: 0 3px 5px .1px #e1e1e1;
  width: 7rem;
  color: black;
  padding: -1rem 0;
  line-height: -5rem;
  margin: 0 1rem 10rem;
}

.side-berita {
  margin-bottom: 5rem;
}

.sbi-img img {
  width: 6rem;
}

.side-berita-isi a{
  margin:0 auto;
  text-decoration: none;
  color: black;

}

.side-berita-isi a:hover .sbi{
  background-color: #f5f5f5;
}

.sbi:last-child {
  border-bottom: none;
}

.side-judul{
  display:flex;
  align-items: center;
  color: #e70000;
}

.side-judul i {
  margin: .3rem 1rem 0 2rem;
  font-size: 1.6rem;
}

.sbi-isi {
  display: flex;
  margin: auto;
  gap: 1rem;
  width: 25rem;
  align-items: center;
}

.sbi-date {
  width: 90%;
  border-bottom: 1px solid rgb(175, 175, 175);
  text-align: right;
  padding-right: 1rem;
  margin: auto;
  margin-bottom: 1rem;
}

.sbi-text p {
  font-size: 1rem;
}

.header-profil .judul-profil {
  border-bottom: 1px solid #e30000;
  margin: .5rem 0 0;
  padding-bottom: .5rem;
  color: #e60000;
}
.date-profil {
  display: flex;
  gap: 4rem;
}
.date-profil .dp {
  display: flex;
  align-items: center ;
  gap: .5rem;
  font-size: .9rem  ;
}
.dp p {
  font-size: 1rem  ;
  
}

/* Profil negeri section end */


/* struktur pemerintahan negeri tuhaha */
/* SOTK  */
.Struktur-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem 5rem;
}
.struktur-header{
  margin: 5rem 0 1rem 2rem  ;
  color: #dc0606;
}
.kartu-struktur {
  width: 17rem;
  height: auto;
  background-color: #781c1c;
  color: white;
  text-align: center;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.kartu-struktur .kartu-img {
  width: 100%;
}
.kartu-struktur img {
  border-radius:.5rem .5rem 0 0 ;
  width: 100%;
  -webkit-border-radius:.5rem .5rem 0 0 ;
  -moz-border-radius:.5rem .5rem 0 0 ;
  -ms-border-radius:.5rem .5rem 0 0 ;
  -o-border-radius:.5rem .5rem 0 0 ;
}
.kartu-struktur h2 {
  font-size: 1.4rem;
  margin-top: -.01rem;
}
.kartu-struktur p {
  margin-top: -.7rem;
  font-size: .9rem;
  padding-bottom: 1rem;
}

/* SOTK end */
/* struktur pemerintahan negeri tuhaha end  */

/* Data Negeri Section */
.body-data {
  background-color: #f5f5f5;
}
.data-wrapper {
  display: flex;
  width: 80%;
  margin: 9rem auto 10rem;
  gap: 0 2rem;
}
/* populasi perwilayah  */
  .population-table {
    border-collapse: collapse;
    width: 30rem;
    border: 2px solid #d4d4d4;
    margin-top: 1.5rem;
    font-size: 1.1rem
  }

  .data-spek {
    background-color: white;
    padding: 2rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;  
    box-shadow: 0 5px 9px .5px rgb(228, 228, 228);
}
  .population-table th, 
  .population-table td {
    border: 1px solid #cdcdcd;
    padding: 8px 8px 8px 10px;
    text-align: left;
  }
  
  .population-table tr:last-child {
    font-weight: bold;
  } 

  .chart {
    width: 40rem;
    padding: 2rem;
    background-color: white;
        border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    box-shadow: 0 5px 9px .5px rgb(228, 228, 228);
  }
  #myChart {
    display: block;
  }
  /* populasi perwilayah end */
/* Data Negeri Section */

/* galeri section  */
/* foto  */
.galeri-wrapper .galeri-image img{
  width: 25rem;
  height: auto;
}
.fast-wrapper {
  width: 80rem;
  margin: 0 auto 5rem;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.fast-foot{
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.fast-foot a {
  color: rgb(83, 83, 83);
}
.ff-card {
  border: 4px solid #f1f1f1;
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}
.ff-card img {
  width: 4rem;
  height: auto;
}

.ff-card h4 {
  margin: .5rem 0;
}
.galeri-wrapper {
  width: 80rem;
  background-color: rgb(255, 255, 255);
  margin: .5rem auto 1rem;
  padding: 2rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.galeri-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.8rem;
  margin: 1rem 0 3rem;
}
.judul-h1 {
  position: relative;
  display: inline-block;        /* Agar ukuran mengikuti lebar teks */
  padding-bottom: 0.25em;        /* Jarak antara teks dan garis bottom */
  color: #ff0d0d;
  font-size: 2.5rem;
}
.judulH1-wrapper {
  display: flex;
  justify-content: center;
}
.judul-h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 16%;                   /* Menggeser border agar tetap di tengah */
  width: 70%;                    /* Lebar border diubah jadi 75% */
  border-bottom: 3px solid #d20808; /* Warna dan ketebalan garis */
}


/* foto end */
/* galeri section end */

/* footer section */
footer {
  width: 100%;
  height: auto;
  background-color: var(--bg-btn);
  color: white;
  padding: 2rem 0 1rem;
  margin-top: auto;
}
#hak {
  text-align: center;
  margin: 3rem 0 0;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

footer p {
  margin-top: -.5rem;
}
.footer-wrapper {
  display: flex;
  justify-content: space-evenly;
}

footer .logo img {
  width: 8rem;
}
footer .logo {
  display: flex;
  align-items: center;
}
footer .footer-sect p {
  font-size: 1rem;
}
footer .judul-footer {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.foot-icon {
  display: flex;
}
.foot-icon i {
  font-size: 1.2rem;
}
.foot-icon p {
  margin-top: -0.1rem;
  margin-left: 0.5rem;
}
footer .footer-1 {
  width: 25rem;
}
.footer-3 a,
.footer-4 a {
  color: white;
  text-decoration: underline;
}
/* footer section end */

/* Untuk layar laptop*/
@media (max-width: 1366px) {
  html {
    font-size: 78%;
  }
  h1 {
    font-size: 2.3rem;
  }
  .sidebar .chat-item a {
    font-size: 20px;
    padding-bottom: 2rem;
  }
  .button-wrapper {
    flex-wrap: wrap;
  }
  .sambutan {
    flex-wrap: wrap;
  }
  .sambutan-isi {
    margin-top: 5rem;
  }
  .si:nth-child(n-3) {
    text-align: center;
  }
  .si:nth-child(3) {
    text-decoration: underline;
  }
  .sambutan {
    padding: 0.6rem;
  }
  .side-section, .sejarah-wrapper{
    width: 57rem;
    margin: 0 auto; 
}

@media screen and (max-width: 1000px){
  .data-wrapper {
  display: flex;
  flex-direction: column;
  width: 93%;
  margin: 9rem auto 5rem;
  gap: 3rem 0;
}
    .population-table {
    width:100%;
  }
  .chart {
    width: 93%; 
    margin-bottom: 5rem;
  }
  .galeri-wrapper{
    width: 90%;
  }
  .galeri-wrapper .galeri-image img{
    width: 29rem;
  }
  .fast-wrapper{
    width: 90%;
  }
  .fast-foot {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.6rem;
  }
}  
  
/* Untuk layar tablet / mobile */
@media screen and (max-width: 768px) {
  html {
    font-size: 75.5%;
  }
  body {
    font-weight: 400;
  }
  .dropdown {
    position: static;
  }
  .header {
    text-align: center;
    padding: 0 2rem;
  }
  /* Sidebar tetap hidden default */
  .sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    width: var(--sidebar-width);
    height: calc(100% - 60px);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    background: var(--bg-sidebar);
  }

  .nav-title {
    font-size: 2rem;
  }

  /* Saat terbuka -> overlay */
  .sidebar.open {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  /* Main konten tidak bergeser */
  .main-content {
    margin-left: 0 !important;
  }

  /* Hamburger tetap toggle ikon */
  .hamburger.active + .overlay {
    display: block;
  }

  /* Overlay background jika diinginkan */
  .overlay {
    display: none;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    background: rgba(0, 0, 0, 0.3);
    z-index: 900;
  }

  .cards-container {
    width: 94%;
    margin-left: 1rem;
  }

  /* home information  */
  .home-argument .sub-judul {
    margin: 0 auto 2rem;
  }
  .sambutan .sambutan-isi .isi {
    height: 17rem;
    width: 97%;
    margin: auto;
  }
  /* home information end */

  .sambutan-foto {
    margin-top: 2rem;
  }

  /* apb negeri */
  .card-apb {
    display: block;
    width: 90%;
    padding: 1rem;
  }
  .apb-rinci .header p {
    font-size: 1.4rem;
  }
  .deskripsi {
    display: none;
  }
  .apb-img {
    display: none;
  }
  /* apb negeri end  */

  /* berita negeri  */
  .card-berita-text {
    display: none;
  }
  .card-berita {
    width: 90%;
    height: auto;
    padding: 1rem 1rem 2rem 1rem;
  }
  .card-berita-link {
    font-size: 1.5rem;
  }
  .card-berita-title {
    font-size: 1.5rem;
  }
  .card-berita-meta {
    font-size: 1.3rem;
    margin: 15px 0 0;
  }
  /* berita negeri end */

  /* galeri negeri  */
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 8px;
  }
  /* galeri negeri end */

  /* berita  */
  .berita-wrapper .btn-struktur {
  margin-left: auto;
  padding-right: 2rem;
}
  /* berita end */

  /* sidebar  */
  .element-wrapper {
    flex-direction: column;
  }
  .side-section{
    width: 97%;
  }
   .sejarah-wrapper  {
    width: 95%;
    margin-bottom: -2.4rem;
   }
  /* sidebar  */

   /* struktur pemerintahan  */
   .struktur-header{
  margin: 5rem 0 2rem;
  text-align: center;
}
.Struktur-section {
  margin-bottom: 3rem;
    gap: 1.5rem 1rem; 
}
   /* struktur pemerintahan  */
  /* footer  */
  .footer-wrapper {
    padding: 0 2rem 0;
    flex-direction: column;
  }
  .logo img {
    margin: 0 auto 1rem;
  }
  footer .footer-1 {
    width: auto;
  }
  .footer-1,
  .footer-2,
  .footer-3,
  .footer-4 {
    border-bottom: 1px solid #eee;
  }
  footer .footer-sect p {
    font-size: 1.4rem;
  }
  footer .judul-footer {
    font-size: 1.9rem;
  }
  /* footer end */

}

@media screen and (max-width: 495px) {
  html {
    font-size: 63.5%;
  }
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 8px;
  }
  .chart {
    width: 89%; 
  }
}
}